<header>
  <div class="container">
    <a href="" routerLink="/" class="logo">Food Mine!</a>
    <nav>
      <ul>
        <li *ngIf="!isAuth">
          <a href="" routerLink="/login">Login</a>
        </li>
        <li *ngIf="user.token" class="menu-container">
          <a href="" routerLink="/dashboard">{{ user.name }}</a>
          <div class="menu">
            <a href="" routerLink="/profile">Profile</a>
            <a href="" routerLink="/orders">Orders</a>
            <a (click)="logout()">Logout</a>
          </div>
        </li>
        <li>
          <a href="" routerLink="/cart-page"
            >Cart <span *ngIf="cartQuantity">{{ cartQuantity }}</span></a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
